.header_top {
  position: fixed;
  background-color: #2C3E50;
  width: 100%;
  height: 80px;
  line-height: 80px;
  top: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: bold;
}
.header_top:hover {
  cursor: pointer;
}
.list {
  list-style: none;
}
li a {
  color: white;
}
.header_top a {
  text-decoration: none;
  font-size: 18px;
}
li {
  display: inline;
  padding-right: 15px;
}
.jumbo {
  background-color: red;
  margin-top: 80px;
  padding: 100px 0;
}
.img_jumbo {
  height: 300px;
  width: 300px;
}
.jumbo_text {
  width: 60%;
  margin: auto;
  text-align: center;
}
.title_start {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.star {
  font-size: 30px;
  margin: 30px 10px;
  color: white;
}
.tilte_portfolio{
  color: #2C3E50;
  font-size: 45px;
  font-weight: bold;
}
.line {
  display: inline-block;
  width: 100px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 10px;
}
.line_portfolio{
  background-color: #2C3E50;
}
.star_portfolio {
  color: #2C3E50;
}
.graphic {
  color: white;
  font-size: 30px;
}
.box_portfolio {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
.img_portfolio {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.padding_bottom_80{
  padding-bottom: 80px;
}
.btn-group {
  padding: 100px;
}
.btn {
  height: 80px;
  width: 230px;
  border: 1px solid white;
  background-color: #1ABC9C;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}
.title_contact {
  color: #2C3E50;
  font-size: 45px;
  font-weight: bold;
}
.contact_element{
  height: 100px;
  font-size: 40px;
}
.white {
  color: white;
}
.title_footer {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.p_footer {
  color: white;
  font-size: 20px;
}
.li_footer {
  font-size: 40px;
  color: white;
}
.title {
  padding-top: 100px;
}
@media screen and(max-width: 768px;) {
  .wrapper_xs_100 {
    width: 100%;
    margin: 0 auto;
    }
  }
@media screen and (min-width: 768px;){
  .wrapper_md_60 {
    width: 60%;
    margin: 0 auto;
  }
}
.bg_green {
  background-color: lightgreen;
}
.footer_top {
  background-color: #2C3E50;
}
.footer_bottom {
  background-color: #1A252F;
  padding: 30px;
}
.btn_green {
  background-color: #1ABC9C;
  color: white;
  text-transform: uppercase;
}
